.blog-detail {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: -webkit-fill-available;
    width: 100%;
    background-color: #1b212c;
    padding: 1.5rem;
    border-radius: 1.5rem;
    align-items: center;
}

.blog-title-detail {
    width: -webkit-fill-available;
    text-align: center;
}

.blog-content-poem {
    text-align: center;
    width: -webkit-fill-available;
}

.blog-content-detail {
    text-align: justify;
    width: -webkit-fill-available;
    text-indent: 5%;
}