.blogwrap {
  display: flex;
  flex-direction: column;
  background-color: #1b212c;
  color: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  height: 7rem;
}

.blogwrap:hover {
  background-color: #25303e;
  cursor: pointer;
}

.blog-content {
  overflow: hidden;
}